<h3><%= @event.name %></h3><br>
<h4>Invited users</h4>

<ul>
  <% @users.each do |user| %>
    <li><%= link_to user.name, edit_invite_path(@invites.find_by(:user_id => user.id)) %></li>
  <% end %>
</ul>

<%= link_to "Invite a user", new_event_invite_path(@event) %><br>

<%= link_to "Index", events_path %>
